<ion-header>
  <ion-toolbar>
    <ion-title> Notificações </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Motivo: </ion-label>
    <ion-input [(ngModel)]="motivo.motivo" type="text" placeholder=" Insira o motivo: "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Nome do aluno: </ion-label>
    <ion-input [(ngModel)]="motivo.nomedofilho" type="text" placeholder=" Insira seu nome completo: "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Data: </ion-label>
    <ion-input [(ngModel)]="motivo.data" type="text" placeholder=" Insira a data de saída:"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Horário: </ion-label>
    <ion-input [(ngModel)]="motivo.horario" type="text" placeholder=" Insira o horário de sairá"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="salvar()" color="dark"> Salvar</ion-button>
  <ion-button expand="full"  color="dark" href="home"> Voltar ao início </ion-button>

</ion-content>

<ion-footer>

</ion-footer>
