<ion-header>
  <ion-toolbar>
    <ion-title>SICAE - Administração <ion-icon name="school"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title> Informática Integrado <ion-icon name="analytics"> </ion-icon></ion-card-title>
    </ion-card-header>
  <ion-button color="dark" expand="full" href="primeiro-info"> 1° Ano </ion-button>
  <ion-button color="dark" expand="full"> 2° Ano </ion-button>
  <ion-button color="dark" expand="full"> 3° Ano </ion-button>
  <ion-button color="dark" expand="full"> 4° Ano </ion-button>
</ion-card>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title> Mecatrônica Integrado <ion-icon name="logo-ionitron"></ion-icon></ion-card-title>
  </ion-card-header>
<ion-button color="dark" expand="full"> 1° Ano </ion-button>
<ion-button color="dark" expand="full"> 2° Ano </ion-button>
<ion-button color="dark" expand="full"> 3° Ano </ion-button>
<ion-button color="dark" expand="full"> 4° Ano </ion-button>
</ion-card>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title> Agroindústria Integrado <ion-icon name="flask"></ion-icon></ion-card-title>
  </ion-card-header>
<ion-button color="dark" expand="full"> 1° Ano </ion-button>
<ion-button color="dark" expand="full"> 2° Ano </ion-button>
<ion-button color="dark" expand="full"> 3° Ano </ion-button>
<ion-button color="dark" expand="full"> 4° Ano </ion-button>
</ion-card>
</ion-content>
