<ion-header>
  <ion-toolbar>
    <ion-title>1° Informática <ion-icon name="analytics"> </ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let contato of listaFiltro">
  
        <!-- <ion-label><b>{{ motivo.nome }}</b> <br> {{ motivo.notificao }}</ion-label> <br/> -->
  
          <ion-button color="danger" (click)="excluir(contato)"> <ion-icon name="trash"></ion-icon> </ion-button>
          <ion-button color="success" (click)="alterar(contato)"> <ion-icon name="create"></ion-icon></ion-button>
      </ion-item>
    </ion-list>
  

</ion-content>
