<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro do Aluno </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formTeste = 'ngForm'>
    <ion-item>
      <ion-label position ='floating'> Nome </ion-label>
      <ion-input #nome='ngModel' type ='text' [(ngModel)] ='contato.nome' name='nome' required > </ion-input>
          <span style='color:red' *ngIf="nome.errors && nome.touched">
            <ion-label>O nome é obrigatório </ion-label>
          </span>
    </ion-item>

  <ion-item>
    <ion-label position="floating"> Usuário: </ion-label>
    <ion-input #usuario='ngModel' type="text" [(ngModel)]="contato.usuario" name='usuario' required> </ion-input>
          <span style='color:red' *ngIf="usuario.errors && usuario.touched">
            <ion-label> O usuário é obrigatório </ion-label>
          </span>
  </ion-item>

    <ion-item>
        <ion-label position="floating"> Email: </ion-label>
        <ion-input #email='ngModel' type="text" [(ngModel)]="contato.email" name='email' required> </ion-input>
            <span style='color:red' *ngIf="email.errors && email.touched">
              <ion-label> O email é obrigatório </ion-label>
            </span>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Senha: </ion-label>
        <ion-input #senha='ngModel' type="password" [(ngModel)]="contato.senha" name='senha' required> </ion-input>
            <span style='color:red' *ngIf="senha.errors && senha.touched">
              <ion-label> A senha é obrigatória </ion-label>
            </span>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Confirmação da Senha: </ion-label>
        <ion-input #confirmacao='ngModel' type="password" [(ngModel)]="contato.confirmacao" name='confirmacao' required> </ion-input>
            <span style='color:red' *ngIf="confirmacao.errors && confirmacao.touched">
              <ion-label> A confirmação é obrigatória </ion-label>
            </span>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Colégio: </ion-label>
        <ion-input #colegio='ngModel' type="text" [(ngModel)]="contato.colegio" name='colegio' required> </ion-input>
            <span style='color:red' *ngIf="colegio.errors && colegio.touched">
              <ion-label> O colégio é obrigatório </ion-label>
            </span>
    </ion-item>


        <ion-button color= "dark" [disabled] ='!formTeste.form.valid' (click)="salvar()"> <ion-icon name="checkmark"></ion-icon> Salvar </ion-button>
          <ion-button color="dark" href="home" > Voltar </ion-button>
  </form>
</ion-content>
