<ion-header>
  <ion-toolbar>
    <ion-title> Cadastrar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating"> Email: </ion-label>
    <ion-input type="text" [(ngModel)]="email" placeholder="Insira seu email"> </ion-input>
  </ion-item>

    <ion-item>
        <ion-label position="floating"> Senha: </ion-label>
        <ion-input type="password" [(ngModel)]="senha" placeholder="Insira sua senha"> </ion-input>
    </ion-item>


<ion-button color="dark" (click)="logar()"> Cadastrar </ion-button>
<ion-button color="dark" href="home" > Voltar </ion-button>
</ion-content>
